.crux-playground {
  $browser-padding: 12px;
  $separator-padding: $browser-padding / 2;
  
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  padding: $browser-padding;
  background-color: #dce4da;
  
  textarea {
    resize: none;
    font-family: monospace;
    outline: none;
    background-color: white;

    // let the text breathe a little bit
    padding: 0.4em;
  }

  display: flex;
  flex-direction: column;
  
  .header {
    flex: 0 0 auto;

    display: flex;
    padding: 0 0 $browser-padding 0;

    .run-container {
      flex: 1 0 auto;
    }

    .optimize-container {
      flex: 0 0 auto;
    }
  }

  .body {
    flex: 1 0 auto;

    display: flex;

    .source {
      flex: 1 1 auto;
      margin-right: $separator-padding;
    }

    .output {
      flex: 1 1 auto;
      margin-left: $separator-padding;
    }

    .output.has-errors {
      color: red;
    }
  }
}
